<section class="featured-article">
  <div class="container">
    <div class="split-article">
      <div class="article-images">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F09%2F09114355%2FPatrick-Dorgu-next-to-Erik-ten-Hag-and-the-Manchester-United-badge-1320x742.jpg" alt="Player in Liverpool jersey" class="split-image">
        <!-- <img src="https://th.bing.com/th?id=OIF.MmTFhEWbdLCYqP5%2b458gFA&rs=1&pid=ImgDetMain" alt="Player in Real Madrid jersey" class="split-image"> -->
      </div>
      <div class="article-content">
        <div class="article-meta">
          <span class="author">James Marshmet</span>
          <span class="time">12 hours ago</span>
        </div>
        <h1 class="article-title">Man Utd battle Tottenham to sign €35m Serie A star branded ‘next Gareth Bale’;</h1>
        <p class="article-description">Manchester United are to launch a bid to rival Tottenham for a Danish teenager, Newcastle are planning a giant offer to sign a classy Inter Milan star, an Arsenal man is wanted back by his former club, while two Euro giants will compete to prise Mo Salah away from Liverpool.</p>
        <div class="article-tags">
          <span class="tag">Man United</span>
          <span class="tag">Tottenham</span>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Featured Articles -->
<section class="featured-articles">
  <div class="container">
    <h2 class="section-title">Featured Articles</h2>
    <div class="articles-grid">
      <!-- Featured Article Card 1 -->
      <div class="article-card">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F09%2F04113813%2Fman-city-rodri-liverpool-trent-alexander-arnold-bayern-munich-alphonso-davies-1320x742.jpg" alt="Football managers" class="card-image">
        <div class="card-content">
          <h3 class="card-title">Real Madrid to break bank with Man City, Liverpool raids in spectacular triple coup; Turkish moves for Man Utd, Chelsea, Newcastle stars</h3>
          <span class="card-time">14 hours ago</span>
        </div>
      </div>

      <!-- Featured Article Card 2 -->
      <div class="article-card">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F09%2F03122222%2FManchester-United-manager-Erik-ten-Hag-and-inset-former-Juventus-midfielder-Adrien-Rabiot-1320x742.jpg" alt="Chelsea players" class="card-image">
        <div class="card-content">
          <h3 class="card-title">Man Utd midfielder reunion blocked as second signing is snuffed out by Romano; Tottenham deal for £21.3m LaLiga star confirmed</h3>
          <span class="card-time">1 day ago</span>
        </div>
      </div>
       <!-- Featured Article Card 3 -->
       <div class="article-card">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F08%2F29123107%2Fdarwin-nunez-mikel-arteta-1-1320x742.jpg" alt="Football managers" class="card-image">
        <div class="card-content">
          <h3 class="card-title">Fabrizio Romano offers ‘guarantee’ over Liverpool attacker amid Arsenal links; £10m transfer bargain snubs Spurs switch</h3>
          <span class="card-time">14 hours ago</span>
        </div>
      </div>
       <!-- Featured Article Card 4 -->
       <div class="article-card">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F08%2F27115550%2FArsenal-manager-Mikel-Arteta-Bilbao-winger-Nico-Williams-and-Gunners-defender-Jakub-Kiwior-1320x742.jpg" alt="Football managers" class="card-image">
        <div class="card-content">
          <h3 class="card-title">Arsenal in mix to sign world-class winger in mega-money deal as Arteta shows trio the door; Barcelona, Liverpool step up transfer battle</h3>
          <span class="card-time">14 hours ago</span>
        </div>
      </div>
       <!-- Featured Article Card 1 -->
       <div class="article-card">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F08%2F23123828%2Fpostecoglou-diouf-guardiola-1-1320x742.jpg" alt="Football managers" class="card-image">
        <div class="card-content">
          <h3 class="card-title">Tottenham battling Man City for midfield dynamo after eye-catching scouting mission; Liverpool handed €60m hammer blow</h3>
          <span class="card-time">14 hours ago</span>
        </div>
      </div>
       <!-- Featured Article Card 1 -->
       <div class="article-card">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F08%2F20112546%2FMatias-Fernandez-Pardo-and-Leon-Goretzka-are-targets-for-Liverpool-1320x742.jpg" alt="Football managers" class="card-image">
        <div class="card-content">
          <h3 class="card-title">Liverpool target outrageous quadruple deal to end window in style; big Man Utd transfer abandoned over fitness issues</h3>
          <span class="card-time">14 hours ago</span>
        </div>
      </div>
       <!-- Featured Article Card 1 -->
       <div class="article-card">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F08%2F19115039%2FSander-Berge-and-Manuel-Ugarte-are-Manchester-United-targets-1320x742.jpg" alt="Football managers" class="card-image">
        <div class="card-content">
          <h3 class="card-title"> Man Utd ‘working on’ monumental swap as Ashworth also bids for €35m Norway star; Nott’m Forest to sign Liverpool target in club-record deal</h3>
          <span class="card-time">14 hours ago</span>
        </div>
      </div>
       <!-- Featured Article Card 1 -->
       <div class="article-card">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F08%2F15121833%2FTT-Marco-Verratti-amp-Rodrygo-with-Liverpool-Badge-1-1-1320x742.jpg" alt="Football managers" class="card-image">
        <div class="card-content">
          <h3 class="card-title">Liverpool target Real Madrid superstar and former PSG ace in spectacular double coup; stakes raised as Man Utd discuss Serie A deal</h3>
          <span class="card-time">14 hours ago</span>
        </div>
      </div>
       <!-- Featured Article Card 1 -->
       <div class="article-card">
        <img src="https://images.ps-aws.com/c?url=https%3A%2F%2Fimages.teamtalk.com%2Fcontent%2Fuploads%2F2024%2F08%2F07181708%2FWest-Ham-star-Tomas-Soucek-has-been-linked-with-a-move-to-Jose-Mourinhos-Fenerbahce-1320x742.jpg" alt="Football managers" class="card-image">
        <div class="card-content">
          <h3 class="card-title"> Key West Ham star’s stance on exit revealed amid Jose Mourinho link-up claims</h3>
          <span class="card-time">14 hours ago</span>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Main Featured Article -->



