<section  style="background-color: #eee;">
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center" style="min-height: 70vh;">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black register-card shadow-sm" style="border-radius: 25px;">
          <div class="card-body p-3">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 d-flex flex-column justify-content-between">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form [formGroup]="registerForm" (ngSubmit)="submitRegister()" class="mx-1 mx-md-4 flex-grow-1 d-flex flex-column justify-content-between">
@if(errmsg){
            <div class="alert alert-danger d-flex align-items-center" role="alert">

  <div>
    {{errmsg}}
  </div>
</div>
          }
                            <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" formControlName="DisplayName" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                  </div>
                                  @if (registerForm.get('DisplayName')?.errors && registerForm.get('DisplayName')?.touched) {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <div>
        @if (registerForm.get('DisplayName')?.errors?.['required'])
        {<p class="p-1 m-0"> Name is required</p>}
        @else if (registerForm.get('DisplayName')?.errors?.['minlength'])
        {<p class="p-1 m-0">name min length is : 3</p>}
        @else if (registerForm.get('DisplayName')?.errors?.['minlength'])
        { <p class="p-1 m-0">name max length is : 8</p>}
      </div>
    </div>
    }
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" formControlName="UserName" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Your UserName</label>
                    </div>
                  </div>
                                  @if (registerForm.get('UserName')?.errors && registerForm.get('UserName')?.touched) {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <div>
        @if (registerForm.get('UserName')?.errors?.['required'])
        {<p class="p-1 m-0">User Name is required</p>}
        @else if (registerForm.get('UserName')?.errors?.['minlength'])
        {<p class="p-1 m-0">name min length is : 3</p>}
        @else if (registerForm.get('UserName')?.errors?.['minlength'])
        { <p class="p-1 m-0">name max length is : 8</p>}
      </div>
    </div>
    }


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="password" formControlName="Password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>
                   @if (registerForm.get('Password')?.errors && registerForm.get('Password')?.touched) {
                  <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <div>
                  @if (registerForm.get('Password')?.errors?.['required'])
                  {<p class="p-1 m-0">password is required</p>}
                  @else if (registerForm.get('Password')?.errors?.['pattern'])
                  {<p>At least 8 characters </p>

<p>At least 1 lowercase letter</p>

<p>At least 1 uppercase letter</p>

<p>At least 1 digit</p>

<p>At least 1 special character (e.g. !#$%^&*())</p>}
                  </div>
                </div>
              }

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="password" formControlName="rePassword" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>
                                    @if (registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched) {
         <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <div>
              @if (registerForm.get('rePassword')?.errors?.['required'])
              {<p class="p-1 m-0">password is required</p>}
              @else if (registerForm.get('rePassword')?.errors?.['mismatch'])
              {<p class="p-1 m-0">password not macth</p>}
        </div>
      </div>
    }

                  <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mt-4 mb-4">
                    <button [disabled]="registerForm.invalid" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg px-5 register-btn-center">
                      @if(isLoading){<span> Register <i class="fa fa-spin fa-spinner"></i></span>}
                  @else{<span> Register </span>}</button>
                  </div>


                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid w-75 mx-auto d-block" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
