<div class="container mt-85">
  <div class="row">
    <div class="col-10 w-100  border border-1 rounded bg-white ">
<div class="d-flex justify-content-between">


  <div class="club-header  mb-4 d-flex align-items-center">
    <img src="assets/logo/47.png" alt="" class="club-logo me-3">
    <div>
      <h1 class="mb-1">Premier League</h1>
      <p class="text-muted mb-0">England</p>
    </div>
  </div>
  <div>
    <p class="p-5 fs-5 fw-bold">2024/2025</p>
  </div>
</div>


        <ul class="nav nav-tabs">
          <li class="nav-item text-decoration-none">
            <a class="nav-link" aria-current="page"  routerLink="Scoreboard" routerLinkActive="active">Scoreboard</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="Stats" routerLinkActive="active">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Transfers" routerLinkActive="active">Transfers</a>
          </li>
        </ul>

    </div>

<div class="my-3"><router-outlet></router-outlet></div>

  </div>
</div>
