<div class="main-container">
  <div class="league-table-wrapper">
    <table class="league-table">
            <thead>
              <tr>
                <th class="text-center" style="width: 50px">Pos</th>
                <th class="text-center">Team</th>
                <th class="text-center">MP</th>
                <th class="text-center hide-mobile">W</th>
                <th class="text-center hide-mobile">D</th>
                <th class="text-center hide-mobile">L</th>
                <th class="text-center hide-mobile">GF-GA</th>
                <th class="text-center">GD</th>
                <th class="text-center">Pts</th>

              </tr>
            </thead>
            <tbody>


        <tr  *ngFor="let team of Scoreboardlist; let i = index" [ngClass]="'rank-' + (i + 1)">

          <td class="position-cell">
            <span class="colored-bar" *ngIf="i < 6 || i >= 17" [ngStyle]="{'background': getBarColor(i)}"></span>
            <span class="pos-number">{{team.position}}</span>
          </td>
          <td class="team-column">
              <div class="team-container">
                  <img [src]="team.club.logo" [alt]="team.club.name">
                    <span class="team-name">{{team.club.name}}</span>
                  </div>
                </td>

                <td class="text-center">{{team.played}}</td>
                <td class="text-center hide-mobile">{{team.wins}}</td>
                <td class="text-center hide-mobile">{{team.draws}}</td>
                <td class="text-center hide-mobile">{{team.losses}}</td>
                <td class="text-center hide-mobile">{{team.goalsFor}}-{{team.goalsAgainst}}</td>
                <td class="text-center">{{team.goalDifference}}</td>
                <td class="text-center"><strong>{{team.points}}</strong></td>


            
              </tr>


            </tbody>
          </table>
    <div class="scoreboard-legend">
      <span class="legend-box cl"></span> Champions League
      <span class="legend-box el"></span> Europa League
      <span class="legend-box rl"></span> Relegation
    </div>
  </div>
</div>
