<div class="main-container">
  <div class="league-table-wrapper">
    <table class="league-table">
            <thead>
              <tr>
                <th class="text-center" style="width: 50px">Pos</th>
                <th class="text-center">Team</th>
                <th class="text-center">MP</th>
                <th class="text-center">W</th>
                <th class="text-center">D</th>
                <th class="text-center">L</th>
                <th class="text-center">GF-GA</th>
                <th class="text-center">GD</th>
                <th class="text-center">Pts</th>
   
              </tr>
            </thead>
            <tbody>


        <tr *ngFor="let team of Newslist; let i = index" [ngClass]="'rank-' + (i + 1)">
          <td class="position-cell">
            <span class="colored-bar" *ngIf="i < 6 || i >= 17" [ngStyle]="{'background': getBarColor(i)}"></span>
            <span class="pos-number">{{team.position}}</span>
          </td>
          <td class="team-column">
              <div class="team-container">
                  <img [src]="team.team.crest" [alt]="team.team.name">
                    <span class="team-name">{{team.team.name}}</span>
                  </div>
                </td>

                <td class="text-center">{{team.playedGames}}</td>
                <td class="text-center">{{team.won}}</td>
                <td class="text-center">{{team.draw}}</td>
                <td class="text-center">{{team.lost}}</td>
                <td class="text-center">{{team.goalsFor}}-{{team.goalsAgainst}}</td>
                <td class="text-center">{{team.goalDifference}}</td>
                <td class="text-center"><strong>{{team.points}}</strong></td>



              </tr>


            </tbody>
          </table>
    <div class="scoreboard-legend">
      <span class="legend-box cl"></span> Champions League
      <span class="legend-box el"></span> Europa League
      <span class="legend-box rl"></span> Relegation
    </div>
  </div>
</div>
